<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings file="_SystemSettings.config">
    <add key="enabled_file_move" value="1" />
    <add key="file_path_move" value="BACKUP\DAYLY" />
    <add key="file_move_make_dir_unit" value="3" /><!-- バックアップディレクトリの作成単位。0=作成しない,1=年,2=年月,3=年月日 -->
  </appSettings>
</configuration>