<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings file="_SystemSettings.config">
    <add key="title" value="基幹業務システム"/>
    <add key="total" value="1"/>
    <add key="logoff" value="MENU_APP_LOGON.EXE"/>
    <add key="back" value=""/>
    
    <!-- 基幹業務システム -->
    <add key="tab01" value="基幹業務"/>
    <add key="launcher0111" value="1,契約／作業,,"/>
    <add key="launcher0112" value="2,定期契約入力,MNT_E_CONTRACT_REGULAR.exe,3"/>
		<add key="launcher0113" value="2,スポット契約入力,MNT_E_CONTRACT_SPOT.exe,3"/>
		<add key="launcher0114" value="2,契約一覧表,MNT_P_DETAIL_CONTRACT.exe,3"/>

    <add key="launcher0121" value="1,請求／未収,,"/>
    <add key="launcher0122" value="2,請求予定一覧表,MNT_P_PLAN_INVOICE.exe,3"/>
    <add key="launcher0123" value="2,請求処理,MNT_B_INVOICE.exe,3"/>
		<add key="launcher0124" value="2,請求キャンセル処理,MNT_B_INVOICE_CANCEL.exe,3"/>
    <add key="launcher0125" value="2,請求書,MNT_P_LIST_INVOICE.exe,3"/>
    <add key="launcher0126" value="2,未収金台帳,MNT_P_LEDGER_RECEIVABLE.exe,3"/>

    <add key="launcher0131" value="1,入金,,"/>
    <add key="launcher0132" value="2,入金入力,MNT_E_DEPOSIT.exe,3"/>
    <add key="launcher0133" value="2,入金チェックリスト,MNT_P_CHECK_DEPOSIT.exe,3"/>
    <add key="launcher0141" value="1,月次処理,,"/>
    <add key="launcher0142" value="2,月次更新処理,MNT_B_MONTH.exe,3"/>
    <add key="launcher0143" value="2,月次キャンセル処理,MNT_B_MONTH_CANCEL.exe,3"/>
		<add key="launcher0144" value="2,入金財務連携データ作成,MNT_B_OUTPUT_DEPOSIT.exe,3"/>

    <add key="tab02" value="管理業務"/>
    <add key="launcher0211" value="1,マスタメンテナンス,,"/>
		<add key="launcher0212" value="2,オーナーマスタメンテナンス,MNT_M_OWNER.exe,3"/>
    <add key="launcher0213" value="2,作業マスタメンテナンス,MNT_M_WORK.exe,3"/>
    <add key="launcher0214" value="2,勘定科目マスタメンテナンス,MNT_M_ACCOUNT.exe,3"/>
    <add key="launcher0215" value="2,種別マスタメンテナンス,MNT_M_KIND.exe,3"/>
    <add key="launcher0216" value="2,ユーザーマスタメンテナンス,MNT_M_USER.exe,3"/>

  </appSettings>
</configuration>
